.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0e782c;
  /* background-image: radial-gradient(at 0% 0%, rgb(13, 4, 60) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(126, 132, 155) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(94, 7, 37) 0, transparent 50%); */
  background-image: url("../public/images/download.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.votegif {
  height: 10%;
  width: 10%;
}
.wel {
  /* margin-bottom: 10rem; */
  padding-bottom: 20rem;
}
.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3vw;
}
.ic {
  padding-left: 8rem;
}

.btnC {
  padding-left: 0.4rem;
  padding-top: 0rem;
  padding-right: 9.8rem;
}
.login-button {
  background-color: #0a0c0a;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 9.5rem;
}
.ibg {
  padding-bottom: 25rem;
}
.login-button:hover {
  background-color: #454142;
}

.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
  background-image: url("../public/images/bgimg.webp");
  background-size: cover;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}

.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  margin-top: 2.8rem;
}

.candidates-table th,
.candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}
